<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!--                <rule name="rule 1D" stopProcessing="true">
                    <match url="^(.*)$"  />
                    <action type="Rewrite" url="/index.php/{R:1}"  />
                </rule>-->
                
                <!--                <rule name="rule 1p" stopProcessing="true">
                    <match url="^YOUR-SUBFOLDER/$"  />
                    <action type="Rewrite" url="/YOUR-SUBFOLDER/index.php"  />
                </rule>
                <rule name="rule 2p" stopProcessing="true">
                    <match url="^YOUR-SUBFOLDER/(.*)$"  />
                    <action type="Rewrite" url="/YOUR-SUBFOLDER/index.php?/{R:1}"  />
                </rule>-->
                <rule name="rule 1v" stopProcessing="true">
                    <match url=".*"  />
                    <action type="Rewrite" url="index.html"  />
                </rule>

            </rules>
        </rewrite>
        
    </system.webServer>
</configuration>