#proj_button {
    margin-top: -4%;
    left: -1.2%;
    position: relative;
}
div#pack_button {
    margin-top: -4%;
    left: -17.2%;
    position: relative;
}
.page-content {
    padding-top: 20px !important;
}
#tab_select {
    margin-top: -30px !important;
}
#pd{
    position: absolute;
    margin-top: -4%;
    margin-left: 5px !important;
    padding-top: 4px;
}
#ps{
    position: absolute;
    margin-top: -4%;
    margin-left: 53%;
    padding-top: 4px;
}
.table td {
    padding:5px 0px 0px 18px;    
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);


}
.table th {
    padding:0.3%;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
    background: linear-gradient(to right, #0bc3c3 10%, #17ABCC 70%);
    color: #fff;
}
.notify {
    position: relative;
    top: 17px;
    right: 0px;
}
.greenotify{
    border: 5px solid #2CD07E !important;
}
.bluenotify{
    border: 5px solid #707CD2 !important;
}
.greenpoint{
    background-color: #2CD07E !important;
}
.bluepoint{
    background-color: #707CD2 !important;
}
a#sent_back_cto {
    position: relative;
    left: -22%;
}
/* created by sakthi model back to button*/
button#leftbtn {
    position: relative;
    left: -45%;
}

.form_wizard .stepContainer{display:block;position:relative;margin:0;padding:0;border:0 solid #CCC;overflow-x:hidden}.wizard_horizontal ul.wizard_steps{display:table;list-style:none;position:relative;width:100%;margin:0 0 20px}.wizard_horizontal ul.wizard_steps li{display:table-cell;text-align:center}.wizard_horizontal ul.wizard_steps li a,.wizard_horizontal ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_horizontal ul.wizard_steps li a:before{content:"";position:absolute;height:4px;background:#ccc;top:20px;width:100%;z-index:4;left:0}.wizard_horizontal ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_horizontal ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.step_no,.wizard_horizontal ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_horizontal ul.wizard_steps li a.done .step_no,.wizard_horizontal ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_horizontal ul.wizard_steps li:first-child a:before{left:50%}.wizard_horizontal ul.wizard_steps li:last-child a:before{right:50%;width:50%;left:auto}.wizard_verticle .stepContainer{width:80%;float:left;padding:0 10px}.actionBar{width:100%;border-top:1px solid #ddd;padding:10px 5px;text-align:right;margin-top:10px}.actionBar .buttonDisabled{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.actionBar a{margin:0 3px}.wizard_verticle .wizard_content{width:80%;float:left;padding-left:20px}.wizard_verticle ul.wizard_steps{display:table;list-style:none;position:relative;width:20%;float:left;margin:0 0 20px}.wizard_verticle ul.wizard_steps li{display:list-item;text-align:center}.wizard_verticle ul.wizard_steps li a{height:80px}.wizard_verticle ul.wizard_steps li a:first-child{margin-top:20px}.wizard_verticle ul.wizard_steps li a,.wizard_verticle ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_verticle ul.wizard_steps li a:before{content:"";position:absolute;height:100%;background:#ccc;top:20px;width:4px;z-index:4;left:49%}.wizard_verticle ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_verticle ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.progress.progress_sm,.progress.progress_sm .progress-bar{height:10px!important}.step_no,.wizard_verticle ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_verticle ul.wizard_steps li a.done .step_no,.wizard_verticle ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_verticle ul.wizard_steps li:first-child a:before{left:49%}.wizard_verticle ul.wizard_steps li:last-child a:before{left:49%;left:auto;width:0}.form_wizard .loader,.form_wizard .msgBox{display:none}.progress{border-radius:0}.progress-bar-info{background-color:#3498DB}.progress-bar-success{background-color:#26B99A}.progress_summary .progress{margin:5px 0 12px!important}.progress_summary .row{margin-bottom:5px}.progress_summary .row .col-xs-2{padding:0}.progress_summary .data span,.progress_summary .more_info span{text-align:right;float:right}.progress_summary p{margin-bottom:3px;width:100%}.progress_title .left{float:left;text-align:left}.progress_title .right{float:right;text-align:right;font-weight:300}.progress.progress_sm{border-radius:0;margin-bottom:18px}.dashboard_graph p{margin:0 0 4px}ul.verticle_bars{width:100%}ul.verticle_bars li{width:23%;height:200px;margin:0}.progress.vertical.progress_wide{width:35px}.alert-success{color:#fff;background-color:rgba(38,185,154,.88);border-color:rgba(38,185,154,.88)}.alert-info{color:#E9EDEF;background-color:rgba(52,152,219,.88);border-color:rgba(52,152,219,.88)}.alert-warning{color:#E9EDEF;background-color:rgba(243,156,18,.88);border-color:rgba(243,156,18,.88)}.alert-danger,.alert-error{color:#E9EDEF;background-color:rgba(231,76,60,.88);border-color:rgba(231,76,60,.88)}.ui-pnotify.dark .ui-pnotify-container{color:#E9EDEF;background-color:rgba(52,73,94,.88);border-color:rgba(52,73,94,.88)}.custom-notifications{position:fixed;margin:15px;right:0;float:right;width:400px;z-index:4000;bottom:0}ul.notifications{float:right;display:block;margin-bottom:7px;padding:0;width:100%}.notifications li{float:right;margin:3px;width:36px;box-shadow:3px 3px 3px rgba(0,0,0,.3)}.notifications li:last-child{margin-left:0}.notifications a{display:block;text-align:center;text-decoration:none;padding:9px 8px}.tabbed_notifications .text{padding:5px 15px;height:140px;border-radius:7px;box-shadow:6px 6px 6px rgba(0,0,0,.3)}.tabbed_notifications div p{display:inline-block}.tabbed_notifications h2{font-weight:700;width:80%;float:left;height:20px;text-overflow:ellipsis;overflow:hidden;display:block}.tabbed_notifications .close{padding:5px;color:#E9EDEF;float:right;opacity:1}.fc-state-default{background:#f5f5f5;color:#73879C}.fc-state-active,.fc-state-down{color:#333;background:#ccc}.dropzone{min-height:300px;border:1px solid #e5e5e5}.main_menu .label{line-height:11px;margin-top:4px}@media (max-width:460px){.dataTables_wrapper .col-sm-6{width:100%;margin-bottom:5px}.dataTables_wrapper .col-sm-6 .dataTables_filter{float:none}}@media (max-width:767px){.dataTables_length{float:none}}.daterangepicker.xdisplay{width:228px}.dataTables_wrapper>.row{overflow:auto!important}

.palnned{
    margin-bottom: 14%;
}    
.actual{
    margin-top: -14%;
    margin-bottom: 14%;
}    
.deviations{
    margin-top: -14%;
}

div#wizard {
    margin-left: -3%;
}
#pdc{
    position: absolute;
    margin-top: 1.7%;
    margin-left: -13.3%;
}
#pdv{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 4%;
}
#pdm{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 17%; 
}
#pde{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 34%; 
}
#pdd{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 51%; 
}
#psv{
    position: absolute;
    margin-top: 4%;
    margin-left: 42%;
    padding-bottom: 1%;
}
div#view_mh {
    padding-bottom: 1.5%;
}
#pdp{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 67%; 
}
div#mr {
    position: absolute;
    margin-top: 4%;
    margin-left: 5%;
}
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 5px;
}
select#proj_Filter {
    margin-left: 56%;
}
.orange{
    background-color:#FF7200 !important;
}
div#ctor {
    margin-left: -1%;
}
button#sent_back_spoc {
    padding-left: -3% !important;
    left: -21% !important;
}
button#sent_back_spocom {
    padding-left: -3% !important;
    left: -16% !important;
}
button#sent_back_spoc_scm {
    padding-left: -3% !important;
    left: -21% !important;
}
div#secondrow  {
    margin-top: -2%;
}
div#firstrow {
    margin-top: -1%;
}
.card-body {
    flex: 1 1 auto;
    padding: 10px;
}
div#thirdrow {
    margin: -29px;
    margin-top: -1%;
}
img#logo_name {
    margin-top: -2%;
    width: 33%;
}

div#dashtbl {
    margin-top: -2%;
}
span.dascount {     
    position: absolute;
    right: 0;
    top: 22%;
    left: 86%;
    font-size: 12px;
}
h4#exampleModalLabel1 {
    position: absolute;
    top: 1%;
    left: 2.5%;
    font-weight: bolder;
}div#expdiv {
    width: 58%;   
    margin-top: -4px;
}.saveexp {
    float: right;
    margin-right: 5%;
}div#emr_repo {
    position: relative;
    left: 83.2%;
}div#emr_repocre{
    position: relative !important;
    left: 72.2%;
    margin-top: -2.9% !important;
}div#emr_repo1 {
    position: relative;
    left: 87.2%;
}div#daterow {
    margin-left: 177px;
    margin-top: -7px;
}
button#reject_package {
    margin-right: 48%;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.4em;
    display: block;
    opacity: 0.3;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 0px;
}
.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -3px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #ff5050;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.notify .point {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ff5050;
    position: absolute;
    right: 5px;
    top: -12px;
}
/*td .tdwidth{
    width: 14%;
}*/
#expdiv .input-group-append{
    display: none;
}
#expdiv .mydatepicker{
    width: 93px !important;
    margin-left: -10px;
    padding: 0px 0px 0px 0px;
    margin-top: 4px;
}
#pack_name{
    color:blue;
}
#pack{
    color:blue; 
}

.card.p-2.p-lg-3 {
    margin-right: 10px;
}

div#dassecond {
    margin-top: -20px;
}
.ialign{
    margin-left: 3px;
}
.card.cardheight {
    height: 70%;
}
div#sprog {
    margin-top: -23px;
}
#salest{
    margin-left: -2.5%;
    margin-top: -1%;
}
#tprog{
    margin-top: -23px;
}
button#om_filesup {
    margin-top: 32%;
}
button#loi_filesup{
    margin-top: 32%;
}
.fc-toolbar {
    margin-bottom: 0px !important;
    padding: 24px 20px;
    background: #3446cc;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
    background-color:#a748ca;
    color:#fff;

}
#uptable table thead {
    padding:0.3%;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
    background: linear-gradient(to right, #086560 100%, #17ABCC 100%);
    color: #fff;
}
.table1{
    width: 150%;
    margin-bottom: 1rem;
    color: #313131;
} 
.table1 td {
    padding:5px 0px 0px 18px;    
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
}
.table1 thead {
    padding:0.3%;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
    background: linear-gradient(to right, #086560 100%, #17ABCC 100%);
    color: #fff;
}
.table1 td, .table1 th {
    border: 1px solid rgba(8, 8, 8, 0.13);
    font-weight: normal !important;       

    display: table-cell;

    font-weight: bold;
    text-align: -internal-center;

}
.table1 td{
    text-align: center;
}
.ml-auto, .mx-auto {
    margin-left: 18% !important;
}
.total{
    border: 1px solid #ff8507;
    background-color:#ff8507; 
    color: #fff;  border-radius: 50%; 
    height: 100px; 
    width: 100px; 
    margin-left: 31%
}
.technical{
    border: 1px solid #176FF3;
    background-color:#176FF3; 
    color: #fff;  border-radius: 50%; 
    height: 100px; 
    width: 100px; 
    margin-left: 31%
}
.operations{
    border: 1px solid #707CD2;
    background-color:#707CD2; 
    color: #fff;  border-radius: 50%; 
    height: 100px; 
    width: 100px; 
    margin-left: 31%
}
.scmappr{
    border: 1px solid #287B05;
    background-color:#287B05; 
    color: #fff;  border-radius: 50%; 
    height: 100px; 
    width: 100px; 
    margin-left: 31%
}
.brown{
    background-color:#c16709 !important;
}
.pointer{
    cursor: pointer;
}
.none{
    display: none;
}
.savebu{
    font-size:16px;
    background-color:#1d1b8c;
}
.tooltip { pointer-events: none; }

button#expert_filesup {
    margin-top: 32%;
}
button#ops_expert_filesup {
    margin-top: 22.5% !important;
}
/* .saveexp{
    font-size:16px;
    background-color:#1d1b8c;
}*/
label {
    font-weight: bolder;
    color:#727773;
}
.recfrm{
    background-color: #1f318e !important;
}
.sicon{
    font-size:12px;
    background-color: #1d1b8c;
    position:relative;
    margin-left: 10px;
}
#po_create {
    margin-left: 74% !important;
}
#po_approve{
    margin-left: 85% !important;
    margin-top: -1%;
}
#wo_create{
    margin-left: 70% !important;
}
#wo_approve{
    margin-left: 85% !important;
    margin-top: -1%;
}
.actual_rec{
    margin-top: -14%;
    margin-bottom: 14%;

}
p.deviations1 {
    position: absolute;
    top: -6%;
    left: 61%;
    color:red;
}

.handsontable1 td {

    height: 22px;
    line-height: 21px;
    padding: 0 10px 0 10px; 
    background-color: #FFF;
    font-size: 12px;
    vertical-align: top;
    overflow: hidden;
}

td.pkwidth {
    width: 150px;
}
.modal_resize{
    width: 162% !important;
    margin-left: -20% !important;
}
.expert_filesup1 {
    margin-top: 22.5% !important;
}
.custom-bg{
    background-color: #00afaa !important;
}
#sent_back_to_spoc{   
    left: -62% !important;
}
.close{
    z-index: 9999 !important;
}
.brighttheme.ui-pnotify-container {
    padding: 7px !important;
}
.brighttheme-icon-sticker.brighttheme-icon-stuck:after {

    transform: rotate(0deg) !important;
    /* content: "\002715"; */
    /* content: "\002016"; */
    content: "\00003E" !important;
}

.brighttheme-icon-sticker:after {
    top: -5px;
    content: "\002016" !important;
    -moz-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
div#ntid {
    top: -34px !important;
    left: 10px !important;
}
.modal-header {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 1.5rem !important;
    border-bottom: 1px solid rgba(120,130,140,.13) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    display:none;
}
#progress-wrp .progress-bar{
    height: 20px;
    border-radius: 3px;
    background-color: #00ae4d;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}
.handsontable th,
.handsontable td {
    border-right: 1px solid #b2c0ce;
    border-bottom: 1px solid #b2c0ce;
    height: 22px;
    line-height: 21px;
    padding: 0 4px 0 4px; 
    background-color: #FFF;
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
    white-space:nowrap;
}
.enq_gen>thead>tr>th,#enq_gen>tbody>tr>td{
    color: #000 !important;
    margin: 0 auto;
    border:  0.3px solid black; 
}
.reqtable{
    background-color:#fff !important;

}
.bg-lc{
    background-color: #c4e8f9 !important;
}
.freeze{
    left: -0.5px;
    position: sticky;
    top: auto;    
    z-index: 5 !important;
    border-top: 1px solid rgba(120,130,140,.13) !important;
    background-color: #c4e8f9 !important;
     /*width: 15px !important;*/


}
.freeze1{
    left: 39px;
    position: sticky;
    top: auto;    
    z-index: 5 !important;
    border-top: 1px solid rgba(120,130,140,.13) !important;
    background-color: #c4e8f9 !important;


}
.freeze2{
    left: 238px;
    position: sticky;
    top: auto;

    z-index: 5 !important;
    border-top: 1px solid rgba(120,130,140,.13) !important;
    background-color: #c4e8f9 !important;


}
.freeze3{
    left:437px;;
    position: sticky;
    top: auto;

    z-index: 5 !important;
    border-top: 1px solid rgba(120,130,140,.13) !important;
    background-color: #c4e8f9 !important;


}
.table_pr td {
    padding:5px 0px 0px 18px;    
    vertical-align: middle;
    border-top: #304356;


}
.table_pr th {
    /*padding:0.3%;*/
    vertical-align: middle;
    border-top: 1px solid rgba(120,130,140,.13);
    background: #304356;
    color: #fff;
}
